*{
    box-sizing: border-box;
}

body {
    padding: 0px;
    background-image: url("windows.jpg");
    background-size: cover;
}

h1 {
    font-family: 'Public Sans', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: white;
}

p {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

img.bar {
    width: 100%;
}

.content {
    padding-left: 5vw;
    padding-top: 5vh;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
}

img.link {
    margin: 20px;
    height: 20vh;
}

.link:hover {
    padding: 5px;
}